@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "memoirTheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #f3f5f7; /* BG1 */
  --color-base-200: #eeeeee; /* G0 */
  --color-base-300: #e3e3e3; /* G1 */
  --color-base-content: #1c1c1c; /* Title1 */

  --color-primary: #c5c7ff; /* M2 */
  --color-primary-content: #1c1c1c;

  --color-secondary: #ffe684; /* S1 */
  --color-secondary-content: #1c1c1c;

  --color-accent: #8387ff; /* M4 */
  --color-accent-content: #ffffff;

  --color-neutral: #3f3f3f; /* Text1 */
  --color-neutral-content: #ffffff;

  --color-info: #a3a7ff;
  --color-success: #a3e4b0;
  --color-warning: #ffe684;
  --color-error: #f87272;

  /* optional: typography & effects */
  --radius-box: 0.5rem;
  --radius-selector: 0.75rem;
  --depth: 1;
  --noise: 0;
}
